services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - sqlserver
    environment:
      ConnectionStrings__CoinSightDb: "Server=sqlserver,1433;Database=CoinSightDB;User Id=SA;Password=${SA_PASSWORD};TrustServerCertificate=True;Encrypt=True;"
    networks:
      - app-net

  sqlserver:
    image: mcr.microsoft.com/azure-sql-edge:latest
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: ${SA_PASSWORD}
      ACCEPT_EULA: ${ACCEPT_EULA:-Y}
    volumes:
      - sqlserver-data:/var/opt/mssql
    networks:
      - app-net

  ingest:
    build:
      context: ./scripts
      dockerfile: Dockerfile.ingest
    depends_on:
      - sqlserver
    environment:
      SA_PASSWORD: ${SA_PASSWORD}
      DOCKER_ENV: "true"
    restart: unless-stopped
    networks:
      - app-net

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://api:5000
    environment:
      NEXT_PUBLIC_API_URL: http://api:5000
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  sqlserver-data: