services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    networks:
      - app-net

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://api:5000
    environment:
      NEXT_PUBLIC_API_URL: http://api:5000
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - app-net

networks:
  app-net:
    driver: bridge